/* REGISTRATION PAGE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #f7f7f7;
}

#backToHomepage i{
    font-size: 40px;
    color: #046307;
    position: absolute;
    top: 10px;
    left: 8px;
}

.registration-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px 30px;
    background: #f7f7f7;
    min-height: 100vh;
}


/* HEADER */

.registration-header{

text-align:center;

margin-bottom:60px;
}

.registration-header h1{

font-size:clamp(40px,5vw,70px);

color:#046307;

margin-bottom:20px;
}

.registration-header p{

font-size:20px;

color:#555;

max-width:800px;

margin:auto;

line-height:1.8;
}


/* FORM */

.registration-form{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    background:white;
    padding: 30px;
    border-radius:25px;
    box-shadow:
    0 10px 30px rgba(0,0,0,.08);
}


/* FORM SECTIONS */

.form-section{

margin-bottom:50px;
}

.form-section h2{

color:orangered;

margin-bottom:25px;

font-size:28px;
}


/* GRID */

.form-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:20px;

grid-column-gap: 40px;
}


/* INPUTS */

.registration-form input,
.registration-form select,
.registration-form textarea{

width: 90%;

padding:18px;

border:1px solid #ddd;

border-radius:10px;

font-size:16px;

outline:none;

transition:.3s;
}

.registration-form input:focus,
.registration-form select:focus,
.registration-form textarea:focus{

border-color:#046307;

box-shadow:
0 0 10px rgba(4,99,7,.15);
}

.registration-form textarea{

min-height:180px;

resize:vertical;

font-size: 20px;
}


/* CATEGORY */

.category-grid{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.category-grid label{
    background:#e8f7e9;
    border:1px solid rgba(4,99,7,.18);
    padding:16px 24px;
    border-radius:14px;
    cursor:pointer;
    font-weight:600;
    flex:1 1 150px;
    min-width: 150px;
    text-align:center;
    transition: background .25s, transform .25s;
}

.category-grid label:hover{
    background:#d4eed5;
    transform: translateY(-1px);
}


/* BUTTON */

.submit-btn{

width:100%;

padding:20px;

border:none;

border-radius:12px;

background:#046307;

color:white;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.4s;
}

.submit-btn:hover{

background:orangered;
}

@media (max-width: 765px){
    .registration-page{
        padding: 20px 12px 30px;
    }

    .registration-form{
        background: white;
        box-shadow: none;
        padding: 20px;
    }

    /* INPUTS */

    .registration-form input,
    .registration-form select,
    .registration-form textarea{
        width: 100%;
        padding:18px;
        border:1px solid #ddd;
        border-radius:10px;
        font-size:16px;
        outline:none;
        transition:.3s;
    }
}
